- var pageId = 'index'

doctype html
html(lang='ja')
  head
    meta(charset="uth-8")
    title #{pages[pageId].title}
    meta(name='description' content=pages[pageId].description)
    link(rel='stylesheet' href='css/style.css')
  body
    h1 トップページ
    main
      p トップページテキスト
