:root {
  font-size: 62.5%;
  font-size: 10px;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: $font_gothic;
  font-size: 1.6rem;
  line-height: 1.7;
  box-sizing: border-box;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: $color_link;
  text-decoration: none;
  transition: $transition;
  outline: none;
}

a:hover {
  opacity: 0.7;
}

a.underline:hover {
  text-decoration: underline;
  opacity: 1;
}

a.color:hover {
  color: $color_link_hover;
  opacity: 1;
}
